<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


    <title>Pastlink</title>
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ static_url('semantic/css/semantic.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700'
          rel='stylesheet' type='text/css'>
    <script src="{{ static_url('js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ static_url('semantic/javascript/semantic.js') }}"></script>
    <script src="{{ static_url('js/check.ie.js') }}"></script>
</head>

<body>

<div class="ui inverted page teal grid stackable relaxed feature segment"
     style="padding-top: 1.5rem;padding-bottom: 1.5rem;">
    <div class="ui row">
        <!--<div class="one wide column"></div>-->
        <!--<div class="fourteen wide column">-->
            <!--<div class="ui transparent menu">-->
                <!--<div class="container">-->
                    <!--<a class="launch item"><i class="icon list layout"></i> Pastlink</a>-->
                    <!--<a class="launch item" href="/explore">逛一逛</a>-->

                    <!--<div class="right menu">-->
                        <!--<div class="vertically fitted borderless item">-->
                        <!--</div>-->

                        <!--<div class="item">-->
                            <!--<a class="ui teal button" href="/login">登录</a>-->
                            <!--<a class="ui teal button" href="/register">注册</a>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

<div class="ui inverted page teal grid stackable relaxed feature segment"
     style="padding-top: 3.5rem;padding-bottom: 3.5rem">
    <div class="row">
        <div class="column">
            <h1 id="header" class="center aligned ui header" style="font-size: 800%;">Pastlink</h1>
        </div>
    </div>
    <div class="row">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
            <h2 class="center aligned ui header">留住有意思的链接</h2>

            <p style="text-align: center; margin-top:4rem; margin-bottom: 6rem;">
                <a class="ui green button" href="/explore">逛一逛</a>
                <a class="ui teal button" href="/login">登录</a>
                <a class="ui teal button" href="/register">注册</a>
            </p>

            <div class="ui inverted section divider" style="display: none;"></div>
        </div>
    </div>
</div>


</body>

</html>