<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


    <title>letian - Pastlink</title>
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ static_url('semantic/css/semantic.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700'
          rel='stylesheet' type='text/css'>
    <script src="{{ static_url('js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ static_url('semantic/javascript/semantic.js') }}"></script>
</head>

<body>

<div class="ui inverted page teal grid stackable relaxed feature segment"
     style="padding-top: 1.5rem;padding-bottom: 1.5rem;">
    <div class="ui row">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
            <div class="ui transparent menu">
                <div class="container">
                    <a class="launch item"><i class="icon list layout"></i> Pastlink</a>
                    <a class="launch item" href="/explore">逛一逛</a>

                    <div class="right menu">

                        {% if login == True %}
                        <a class="item" href="">
                            {{ _(current_login_user_info['name']) }}
                        </a>
                        {% end %}

                        {% if login == False %}
                        <div class="item">
                            <a class="ui teal button" href="/login">登录</a>
                            <a class="ui teal button" href="/register">注册</a>
                        </div>
                        {% end %}
                        {% if login == True %}
                        <div class="ui simple dropdown item">
                            <i class="icon setting"></i>

                            <div class="theme menu">
                                <a class="item" href="/profile">个人信息</a>

                                <a class="item" href="/logout">退出</a>
                            </div>
                        </div>
                        {% end %}



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui inverted page teal grid stackable relaxed feature segment"
     style="padding-top: 1.5rem;padding-bottom: 3.5rem">
    <div class="row">
        <div class="one wide column">
        </div>
        <div class="four wide column">

            <div class="ui vertical menu" style="width: auto">
                <div class="header item">
                    {{ _(query_user_info['name']) }}
                </div>
                <a class="item" href="/u/{{ _(query_user_info['name']) }}">
                    所有话题
                </a>
                {% if self_access == True %}
                <a class="item" href="/new/topic">
                    添加话题+
                </a>
                {% end %}

                <div class="item">
                    收藏
                    <div class="menu">
                        <a class="item" href="/u/{{ _(query_user_info['name']) }}?tab=topic-stars">话题</a>
                        <a class="item" href="/u/{{ _(query_user_info['name']) }}?tab=link-stars">链接</a>
                    </div>
                </div>

                <div class="header item">
                    搜索
                </div>
                <div class="item">
                    <div class="ui input"><input type="text" placeholder="Search..."></div>
                </div>
            </div>

        </div>
        <div class="ten wide column" style="padding-left: 0%">
            <div class="ui piled segment" style="">

                {% if success == False %}
                <h2>访问出错，刷新一下也许就好了哦！</h2>
                {% else %}
                <h2>收藏的话题</h2>
                <div id="topic_list" class="ui divided  selection list">


                    {% for topic in topics %}

                    <a  class="topic item" style="padding-top:1rem; padding-bottom: 1rem;"
                            href="/topic/{{ topic['hashid'] }}">
                        <div class="description">
                            {{ _(topic['title']) }}
                        </div>
                    </a>
                    {% end %}
                </div>

                <div class="ui divider"></div>

                <div class="ui circular labels">
                    {% for num in pagination %}
                    {% if num == current_page_num %}
                    <a class="ui black label" href="/u/{{ query_user_info['name'] }}?tab=topic-stars&page={{ num }}">
                        {{ num }}
                    </a>
                    {% else %}
                    <a class="ui label" href="/u/{{ query_user_info['name'] }}?tab=topic-stars&page={{ num }}">
                        {{ num }}
                    </a>
                    {% end %}
                    {% end %}
                </div>
                {% end %}
            </div>
        </div>
        <div class="one wide column">
        </div>
    </div>
</div>


</body>

</html>